@import './resume';
@import './dotScroll';

.aboutMe_landing {
    display: grid;
    grid-template-rows: [aboutMe-s] auto [aboutMe-e resume-s] 1fr [resume-e];
    grid-template-columns: [content-s] 1fr [conten-e dotSroll-s] 50px [dotScroll-e];
    grid-row-gap: 50px;
}

.aboutMe {
    grid-column: content-s/content-e;

    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    width: 100vw;
    height: 100vh;
    grid-column-gap: 35px;
    align-items: center;
    margin-top: -55px;
}

.aboutMe_heading {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 5em;
    color: whitesmoke;
    font-family: 'Teko', sans-serif;
}

.aboutMe-text {
    display: flex;
    grid-column-start: 2;
    font-size: .3em;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    width: 400px;
}

.aboutMe-text-2 {
    display: flex;
    grid-column-start: 2;
    font-size: .3em;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    width: 400px;
    margin-top: 10px;
}

.profilePic {
    height: 500px;
    display: flex;
    justify-self: flex-start;
    grid-column: 3/4;
}





