
.heading {
    width: 100vw;
    height: 100vh;
    margin-left: 12%;
    margin-top: 10%;
}

.firstTitle {
    @include name();
}

.secondTitle {
    @include name();
    margin-top: -147px;
}

.subHeading {
    font-family: 'Teko', sans-serif;
    color: whitesmoke;
    font-size: 3em;
    margin-top: -85px;
    margin-left: 20%;
}