.layout {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: [nav-s] 150px [nav-e content-s] 1fr [content-e];
    grid-template-columns: [content-s nav-s] 50px [contentInset-s] 1fr [contentInset-e] 50px [nav-e content-e];
    margin: 0;

    .navbarLinks {
        grid-row: nav-s/nav-e;
        grid-column: nav-s/nav-e;
    }

    &__content {
        grid-row: content-s/content-e;
        grid-column: content-s/content-e;
        
    }

    &__contentInset {
        grid-row: content-s/content-e;
        grid-column: contentInset-s/contentInset-e;
    }
}

@media all and (max-width: 1000px) {
    .layout {
        width: 100vw;
        height: 100vh;

        display: grid;
    }
}

@media all and (max-width: 667px) {
    .layout {
        width: 100vw;
        height: 100vh;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}

