@mixin link {
    text-decoration: none;
    color: whitesmoke;
    transition: all .3s ease;
}

@mixin hover {
    text-decoration: none;
    color: rgb(160, 160, 160);
    transform: scale(1.05);
    font-size: 1.05em;
}

// Home

@mixin name {
    color: whitesmoke;
    font-size: 17em;
    font-family: 'Teko', sans-serif;
    font-weight: 900;
}

// Portfolio

@mixin portfolioContainer {
    display: grid;
    grid-template-columns: [text-s] 32% [text-e thumbnail-s] 68% [thumbnail-e];
    grid-column-gap: 55px;
    color: whitesmoke;
}

@mixin portfolioText {
    grid-column: 1/2;
    font-family: 'Teko', sans-serif;
    font-size: 5em;
    margin-top: 10px;
    justify-self: end;
}

@mixin portfolioThumbnail {
    grid-column: 2/3
}

@mixin portfolioImg {
    width: 450px;
    border-radius: 5px;
}