.navbarLinks {
    width: 100vw;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    left: 0;

    z-index: 10;
}

.links {
    color: rgb(65, 65, 65);
    text-decoration: none;
    font-size: 1.5em;

    transition: all .3s ease;
}

.navbarLinks div {
    font-family: 'Teko', sans-serif;
}

.links:hover {
    text-decoration: none;
    color: whitesmoke;
    transform: scale(1.05);
    font-size: 1.7em;
}

@media all and (max-width: 667px) {
    .navbarLinks {
        margin-right: 25px;
    }
}