
.portfolio {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 25px;
    background-color: rgb(29, 29, 29); 
    width: 100vw;
    height: 100%;
    
}

.madlibs {
    @include portfolioContainer();
    
    margin-top: 100px;
    grid-row-start: 1;
    height: 350px;
    
    &__text {
        @include portfolioText();
    }

    &__thumbnail {
        @include portfolioThumbnail();
    }

    &__link {

    }
       
    &__img {
        @include portfolioImg();
    }
}

.birthdayCountdown {
    @include portfolioContainer();

    grid-row-start: 2;
    height: 350px;
    margin-top: 35px;

    &__text1 {
        @include portfolioText();
        font-size: 5em;
        margin-bottom: -50px;
    }

    &__text {
        @include portfolioText();
    }

    &__thumbnail {
        @include portfolioThumbnail();
    }

    &__link {

    }
       
    &__img {
        @include portfolioImg();
    }
    
}   
