.portfolio {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 25px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(29, 29, 29);
}

.madlibs {
    @include portfolioContainer();
    
    
    grid-row-start: 1;
    
    &__text {
        @include portfolioText();
    }

    &__thumbnail {
        @include portfolioThumbnail();
    }

    &__link {

    }
       
    &__img {
        @include portfolioImg();
    }
}

.birthdayCountdown {
    @include portfolioContainer();

    grid-row-start: 2;

    &__text {
        @include portfolioText();
    }

    &__thumbnail {
        @include portfolioThumbnail();
    }

    &__link {

    }
       
    &__img {
        @include portfolioImg();
    }
    
}   
